#tableShortDescription {
    text-align: center;
    margin-left:25%; 
    margin-right:55%;
    margin-top:5%;
}

#nameOfClient {
    font-weight: bold;
    margin-right: 2%;
}

#timeOfDocument {
    font-weight: bold;
    margin-top: 2%;
    margin-right: 2%;
}

#TheBigDescription {
    width: 60%;
    text-align: center;
    margin-left:25%; 
    margin-right:55%;
    margin-top:5%;
}

#DescriptionOnTableOfBigDetails {
    font-weight: bold;    
}