<!DOCTYPE html>
<html lang="en-US">

<!-- Include-->

<!-- Latest compiled and minified CSS-->
<link rel="stylesheet" href="Resource/bootstrap-3.3.7-dist/css/bootstrap.min.css">


<!--jQuery library-->
<script src="Resource/jquery.min.js"></script>

<!--Latest compiled JavaScript-->
<script src="Resource/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

<!--Anjular-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>


<script src = 'json.js'></script>
<script src = 'code.js'></script>

<link rel="stylesheet" href="index.css">


<body>



<div ng-app="myApp" ng-controller="myCtrl">



<nav class="navbar navbar-default" dir=>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Sages development</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Graphs <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<p dir="rtl" id="timeOfDocument">
    12/19/2017
</p>
<p dir="rtl" id="nameOfClient">
    שם הלקוח :יהודה כורסיה
</p>


<div  id="tableShortDescription" >
  <!-- Table -->
  <table class="table">
        <tr >
      <td ng-repeat="x in descriptionsTopics">
      <a  href={{x.forHref}} type="button" class="btn  btn-primary" >{{ x.desc }}</a>
      </td>
    </tr>
  </table>
</div>


<div ng-view id="TheBigDescription" >
    here will be all the big result.
    
</div>


</div>


</body>
</html>


