<!DOCTYPE html>
<html lang="en-US">

<!-- Include-->

<!-- Latest compiled and minified CSS-->
<link rel="stylesheet" href="Resource/bootstrap-3.3.7-dist/css/bootstrap.min.css">


<!--jQuery library-->
<script src="Resource/jquery.min.js"></script>

<!--Latest compiled JavaScript-->
<script src="Resource/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

<!--Anjular-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

<script src='json.js'></script>
<script src='code.js'></script>

<link rel="stylesheet" href="index.css">


<body>

    <div ng-app="myApp" ng-controller="myCtrl">

        <!--The navbar -->
        <nav class="navbar navbar-inverse" id="navbar">
            <div class="container-fluid pull-right">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav ">
                        <li><a href="#">פונקציות מתקדמות</a></li>
                        <li><a href="#">מאזן מבוקר</a></li>
                        <li><a href="#">ביטוח לאומי</a></li>
                        <li><a href="#">מע"מ</a></li>
                        <li><a href="#">מאזן בוחן</a></li>
                        <li><a href="#">טופס 6111</a></li>
                        <a class="navbar-brand" href="#">SagesTech</a>
                    </ul>
                </div>
            </div>
        </nav>


        <!--Details about the request-->

        <div class="well" id="DetailsRequest" dir="rtl">
            <b>מהות הבקשה :</b>
            <br>
            <table class="table">
                <tr ng-repeat="x in detailsAboutRequest.creaditCheck.requestInformation">
                    <td>
                        {{ x.fieldName }}
                    </td>

                    <td ng-repeat="y in  x.fieldValues">
                        {{ y }}
                    </td>
                </tr>
            </table>

        </div>
    </div>



</body>
</html>


