<table class="table table-hover">
   
       <tr id="DescriptionOnTableOfBigDetails" class="active">
        <td>
            סוג
        </td>
        <td>
            ערך
        </td>
        <td>
            תיאור
        </td>
    </tr>
    <tr ng-repeat="x in altmanModel">
        <td>
            {{ x.fieldType }}
        </td>
        <td>
            {{ x.stringValue}}
        </td>
        <td>
            {{ x.description}}
        </td>
    </tr>
</table>